@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

.space {
  height: 660px;
  width: 650px;
}
.texts {
  font-family: "Ubuntu";
}

.green_b:hover span {
  display: none;
}

.green_b:hover:before {
  content: "Δες τα όλα εδώ";
}

li {
  padding: 20px;
}

.arxiki {
  font-family: "Ubuntu";
}

.forma_container {
  width: 792px;
  height: 732px;
}

input {
  border: none;
  outline: 0;
}
.pageContainer {
  z-index: 2;
}
